/*LEFT NAVBAR SIDE*/
.sidebar {
    background-color: #191919;
    color: #FFFFFF;
    height: 100vh;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

.nav-links {
    letter-spacing: 1px;
    text-align: right;
    position: relative;
    top: 20px;
    font-size: 16px;
}

.sidebar a {
    color: #FFFFFF;
}

.active a {
    color: #e62c33;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    color: #e62c33;
    background-color: transparent; 
}

.sidebar .header {
    text-align: center;
}

.sidebar .header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.sidebar .header h2 {
    font-size: 12px;
    letter-spacing: 6.5px;
    margin-top: -5px;
    color: #888888;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 10px 20px
}

.footer ul {
    padding: 0;
}

.footer li {
    display: inline-block;
    list-style-type: none;
}

.footer .icons {
    color: #e62c33;
}

/*MAIN CONTENT SIDE*/
.main {
    padding: 0;
    max-height: 100vh;
    overflow: auto;
}

.section-image {
    min-height: 250px;
    position: relative;
}

.section-image h1 {
    margin: 0;
    display: inline-block;
    padding: 15px 30px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #e62c33;
    position: absolute;
    bottom: 0;
    right: 0;
}

#about-image {
    background: url(../img/girl_in_jeans.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}

#projects-image {
    background: url(../img/code_on_screen.jpg) no-repeat;
    background-size: cover;
}

#contact-image {
    background: url(../img/old_postcards.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.content {
    padding: 50px;
}

.content blockquote {
    border-left: 5px solid #e62c33;
}

.content h2 {
    margin: 0;
}

#profile-image {
    width: 20%;
    border-radius: 50%;
    margin: 30px;
}
